body {
  background-color: #f7f7f8;
  font-family: "Rethink Sans", sans-serif;
}
h1 {
  color: #aed8cc;
}
a {
  color: #aed8cc;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

#humidity-data,
#wind-data {
  color: #aed8cc;
  font-weight: bold;
}
.weather-app {
  background-color: #461959;
  color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
}
