body {
  background-color: #f7f7f8;
  font-family: "Rethink Sans", sans-serif;
}

main {
  padding: 30px 0;
}

a {
  color: #aed8cc;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  border-top: 1px solid #cd6688;
  padding: 25px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
}

.day-and-time {
  margin: 0 0 20px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-form-input {
  background-color: #f7f7f8;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  padding: 15px 10px;
  font-style: italic;
  flex: 1;
}

.search-form-button {
  background: #cd6688;
  color: #f7f7f8;
  padding: 15px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.search-form-button:hover {
  background: #f7f7f8;
  color: #461959;
  cursor: pointer;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-app-city {
  margin: 0;
  color: #aed8cc;
  font-size: 45px;
  margin-right: 10px;
}

.weather-app-details {
  flex: 1;
}

.weather-app-temperature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: -20px;
}

.weather-app-icon {
  width: 95px;
  height: 95px;
  margin-bottom: 0px;
  margin-right: 10px;
}

.weather-app-temperature {
  display: flex;
  align-items: flex-start;
  margin-top: -25px;
}

.weather-app-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.weather-app-temperature-unit {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 12px;
}

.humidity-data,
.wind-data {
  color: #cd6688;
  font-weight: bold;
}
.weather-app {
  background-color: #461959;
  color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
}
